/* Importación de fuente (puedes cambiarla si usas otra) */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: linear-gradient(to right, #eafff5, #c3ffd5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flashy {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container-flashy-icon{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.flashy__card {
  background-color: rgb(0, 204, 102);
  padding: 3rem 2rem 1.5rem 2rem;
  border-radius: 20px;
  text-align: center;
  height: 650px;
  width: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.447);
}

.flashy__icon {
  background: #00b359;
  border-radius: 40%;
  width: 70%;
  height: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashy__image {
width: 250px;
 position: relative;
 right: 5px;
}
.flashy-text {
height: 45%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5px;
}
.flashy__title {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.flashy__subtitle {
  color: #d9fbe9;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.flashy__buttons {
    height: 15%;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.flashy__button {
    height: 65%;
 width: 50%;
  padding: 0.75rem;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.flashy__button--outline {
  background: transparent;
  border: 2px dashed white;
  color: white;
}

.flashy__button--filled {
  background: white;
  border: none;
  color: #00cc66;
  box-shadow: 0 5px 0 #00994d;
}

.flashy__button:hover {
  opacity: 0.9;
}

.flashy__card--app{
  padding: 16px;
  background-color:rgb(252, 252, 252) ;
}
.flashy-head2{
<<<<<<< HEAD
  box-shadow: 0px 6px 10px #c4f3dd;
=======
>>>>>>> 355b765c329b18da74a7905432a14f3b8cc8c448
  height: 25%;
  width: 100%;
  background-color:rgb(0, 214, 107) ;
  border-radius: 15px;
display: flex
<<<<<<< HEAD

=======
>>>>>>> 355b765c329b18da74a7905432a14f3b8cc8c448
}


.flashy__card--app{
<<<<<<< HEAD
    background-color:rgb(252, 252, 252) ;
  
}


=======

  background-color:rgb(252, 252, 252) ;
   }
>>>>>>> 355b765c329b18da74a7905432a14f3b8cc8c448

.flashy-image2{
   
  height: 100%;
<<<<<<< HEAD
  width: 50%;
 display: flex;
  justify-content: center;
  align-items: center
  

}
.head-text{
  width: 50%;
=======
  width: 60%;
 display: flex;
  justify-content: start;
  align-items: center

}
.head-text{
  width: 40%;
>>>>>>> 355b765c329b18da74a7905432a14f3b8cc8c448
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
<<<<<<< HEAD
  color:#fdfefd ;
}
.flashy__pito{
 width: 50%;
 filter: drop-shadow(6px 6px 10px rgba(0, 0, 0, 0.5));
 transition: all 0.3s;
  

}
.flashy__pito.clicked{
 transform: translateX(-200px);
 

}

.flashy-body2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body-item{
  display: flex;
  flex-direction: row;
  
  padding: 15px;
}

.body-image{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.body-text{
  width: 70%;

}

.body-text h2{
  text-align: start;
  color: black;
}

.body-text p{
  text-align: start;
  font-size: 12px;
  color:#3b3b3b;
}

.imgPlus{
  color: #00d770;
  font-size: 22px ;
}

.imgPlay{
color:#ff8814 ;
font-size: 35px;
}

.imgCards{
color:#ff504d ;
font-size: 35px;
}

.imgUsers{
color:#3a67ff ;
font-size: 35px;
}

.backIcon{
padding: 20px;
  background-color: #e7faf1;
  border-radius: 6px;
=======
}
.flashy__pito{
 width: 80%;

>>>>>>> 355b765c329b18da74a7905432a14f3b8cc8c448
}